FITBIT_CLIENT_ID = "xxxxx"
FITBIT_CLIENT_SECRET = "xxxxx"

SPOTIFY_CLIENT_ID = "xxxxx"
SPOTIFY_CLIENT_SECRET = "xxxxx"
SPOTIFY_REFRESH_TOKEN = "xxxxx"

STRAVA_CLIENT_ID = "xxxxx"
STRAVA_CLIENT_SECRET = "xxxxx"

TRAKT_CLIENT_ID = "xxxxx"
TRAKT_CLIENT_SECRET = "xxxxx"